.mobile-menu {
    width: 100vw;
    height: 100vh;
    display: block; /* Always display block; control visibility with opacity and transform */
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 900;
    opacity: 0;
    box-shadow: 0px 29px 80px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(-100vw);
}

.mobile-menu-container {
    width: 60vw;
    height: 100vh;
    background-color: #342864;
    padding: 2rem;
}

.mobile-menu.active {
    opacity: 1;
    transform: translateX(0);
}

.mobile-menu img {
    margin-bottom: 3rem;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    margin-left: 2rem;
}

@media (max-width: 769px) {
    .mobile-menu {
        display: block; 
    }
}
.btn{
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    padding: 0.6rem 2rem;
    border: none;
    outline: 1.5px solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3 ease;

}
.btn:hover{
    color: #a993fe;
  background: #000;
  outline: 1.5px solid #a993fe;
}