@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
}

.container {
   display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.hero-container::after,
.hero-container::before {
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.hero-container::after {
    top: -3rem;
    left: -5rem;
}

.hero-container::before {
    bottom: 2rem;
    right: 0rem;
}

.hero-content {
    max-width: 600px;
    padding-right: 50px;
    text-align: left;
    z-index: 1;
   
}

.hero-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 1;
}

.hero-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
}

.mu {
    margin-top: 50px;
}

.hero-content h1,
h3 {
    text-shadow: 5px 4px 10px #6852ba;
}

.hero-content h3 span {
    color: #a993fe;
}

.hero-content p {
    font-size: 16px;
    opacity: 1;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;
}

.img {
    margin: 20px;
    padding: 30px;
    max-width: 100%;
    height: auto;
    opacity: 1;
    
    
    
}

.img:hover {
    transform: translateY(-0.5rem);
}

